<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
   
    <h1>Let's fight</h1>
    <div class="canvas-container">
        <div id="canvas" class="canvas"></div>
        <div class="item-container" >
            <%if(tokens.length > 0){%>
                <% tokens.forEach(token => {%>
                    <div id="<%=token._id%>" class="item" style="position: absolute;
                                                                left:<%= token.position.x %>px;
                                                                top:<%= token.position.y %>px;
                                                                width:<%= cellSize %>px;
                                                                height: <%= cellSize %>px;
                                                                cursor: pointer;" onmousedown="makeObjectToDrag(this);">

                        <img src="<%= token.imageUrl %>" alt="cat">
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
    <script>
        var cellSize = <%= cellSize  %>
    </script>
    <script src="/js/movable.js"></script>
    


<%- include('../includes/end.ejs') %>